.wrapper {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border-radius: 8px;
  padding-left: 16px;
  color: var(--primary-color);
  background-color: whitesmoke;
}

.input {
  border: 2px solid;
  border-radius: 8px;
  border-color: black;
  background-color: whitesmoke;
  padding: 16px;
  width: 180px;
  height: 10px;
  outline: none;
}

.input::placeholder {
  color: rgb(92, 98, 92)
}
